<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>poketeam.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A17C398427EF3C98004B3CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17C399A27EF3C99004B3CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17C39A427EF3C99004B3CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
